// Цвета
$grey: #757575;
$black: #212121;
$background: #2f303a;
$light-grey: #f5f4fa;
$white: #ffffff;
$footer-rgba: rgba(255, 255, 255, 0.6);
$hover: #2196f3;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
$rgba-footer: rgba(255, 255, 255, 0.6);
$conect-icon: rgba(255, 255, 255, 0.1);
$social: #afb1b8;
